@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Transisi untuk FAQ */
[x-cloak] { display: none !important; }

.faq-enter-active,
.faq-leave-active {
  transition: all 0.3s ease;
  max-height: 300px;
}

.faq-enter-from,
.faq-leave-to {
  opacity: 0;
  max-height: 0;
  transform: translateY(-10px);
}